{% extends "base.html" %}

{% block body %}
<form method="POST" action="/result">
    <div>
        <div class="row">
            <div class="col-md-3">
                <input type="number" class="form-control" placeholder="Zip code">
            </div>
        </div>
        <label><input type="checkbox">Subway</label>
        <label><input type="checkbox">LIRR</label>
        <label><input type="checkbox">Bus</label>

        <br>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="borough">Borough:</label>
                    <select name="borough" class="form-control" id="borough">
                        <option>Queens</option>
                        <option>Manhattan</option>
                        <option>Bronx</option>
                        <option>Brooklyn</option>
                        <option>Staten Island</option>
                    </select>
                </div>
            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="Search">
    </div>
</form>
{% endblock %}
