{% extends "base.html" %}

{% block body %}
<div class="jumbotron">
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Weather</h3>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">

                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#lirr">LIRR</a></li>
                    <li><a data-toggle="tab" href="#trains">Trains</a></li>
                    <li><a data-toggle="tab" href="#buses">Buses</a></li>
                </ul>

                <div class="tab-content">
                    <div id="lirr" class="tab-pane fade in active">
                        <h3>LIRR</h3>
                    </div>
                    <div id="trains" class="tab-pane fade">
                        <h3>Trains</h3>
                    </div>
                    <div id="buses" class="tab-pane fade">
                        <h3>Buses</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
